@page
@model IndexModel
@{
    ViewData["Title"] = "Layton Temple Tours";
}


<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Layton Utah Temple Tours</div>
        <div class="masthead-heading text-uppercase">Schedule a Tour Below!</div>
        <a class="btn btn-primary btn-xl text-uppercase" asp-page="Signup">Sign Up</a>
    </div>
</header>

<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">During the Sunday Afternoon Session of the 188th Annual General Conference, President Russell M. Nelson announced the construction of the Layton Utah Temple. The city of Layton is located in Davis County, a growing region of Northern Utah where members are organized into 64 stakes. The Church had recently announced that the Utah Salt Lake City Mission would be reorganized as the Utah Layton Mission.</h3>
        </div>
        @*<div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">E-Commerce</h4>
                <p class="text-muted"></p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Responsive Design</h4>
                <p class="text-muted"></p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Web Security</h4>
                <p class="text-muted"></p>
            </div>
        </div>*@
    </div>
</section>
