@page
@model LaytonTempleTours.Pages.SignupFormModel
@{
    ViewData["Title"] = "Sign Up Form";
}

<!-- Masthead-->
<header class="masthead-small">
    <div class="container">
        <div class="masthead-small-heading text-uppercase">Scheduler</div>
        <div class="masthead-small-subheading">Schedule a Tour Below!</div>
    </div>
</header>
<div class="text-center">
    <h2 class="section-heading text-uppercase">Schedule Appointment for @Model.timeSlot.DateTime</h2>
</div>
    <form class="form-group" method="post" asp-page="signupForm">

        <div asp-validation-summary="All" class="text-danger"></div>

        <label>Name of Group</label>
        <input class="form-control" asp-for="appointment.Name" /><br />

        <label>Size of Group (Max of 15)</label>
        <input class="form-control" asp-for="appointment.Size" /><br />

        <label>Email Address</label>
        <input class="form-control" asp-for="appointment.Email" /><br />

        <label>Phone Number (Optional)</label>
        <input class="form-control" asp-for="appointment.Phone" /><br />

        <input type="hidden" asp-for="appointment.Time" value="@Model.timeSlot.DateTime" />

        <input type="hidden" name="timeid" value="@Model.timeSlot.ID" />

        <button class="btn btn-primary" type="submit">Save</button>

    </form>
