@page
@model LaytonTempleTours.Pages.SignupModel
@{
    ViewData["Title"] = "Sign Up";
}


<!-- Masthead-->
<header class="masthead-small">
    <div class="container">
        <div class="masthead-small-heading text-uppercase">Scheduler</div>
        <div class="masthead-small-subheading">Schedule a Tour Below!</div>
    </div>
</header>

<div class="container">
    <div class="text-center"><br />
        <h2 class="section-heading text-uppercase">Available Time Slots:</h2>
        <p class="section-subheading text-muted">We can only add a limited number of tours at this time. They will be removing the visitors center soon so that they can complete the landscaping. When the trailer is gone, we anticipate being able to talk to groups on the lawn of the church across the street or at the Morgan's backyard. We are trying to facilitate as many groups as possible, so please only sign-up when you can commit to coming on the selected date and time. We have a lot of last minute cancelations.</p>
    </div>
    @foreach (var timeSlot in Model.TimeSlots)
    {
        if (timeSlot.AppointmentID is null)
        {
            <a class="btn btn-info btn-lg btn-block" style="width: 100%" asp-page="signupForm" asp-page-handler="SignupForm" asp-route-id="@timeSlot.ID">@timeSlot.DateTime</a><br />
        }
        else
        {
            <a class="btn btn-dark btn-lg btn-block" style="width: 100%" disabled>@timeSlot.DateTime</a><br />
        }
        <br />
    }
</div>

    
