@page
@model LaytonTempleTours.Pages.SignupModel
@{
    ViewData["Title"] = "Sign Up";
}


<!-- Masthead-->
<header class="masthead-small">
    <div class="container">
        <div class="masthead-small-heading text-uppercase">Scheduler</div>
        <div class="masthead-small-subheading">Schedule a Tour Below!</div>
    </div>
</header>