@page
@model LaytonTempleTours.Pages.SignupModel
@{
    ViewData["Title"] = "Sign Up";
}


<!-- Masthead-->
<header class="masthead-small">
    <div class="container">
        <div class="masthead-small-heading text-uppercase">Scheduler</div>
        <div class="masthead-small-subheading">Schedule a Tour Below!</div>
    </div>
</header>

<h1 class="display-3">Available Time Slots:</h1>

@foreach (var timeSlot in Model.TimeSlots)
{
    if (timeSlot.AppointmentID is null)
    {
        <a class="btn btn-primary btn-block" asp-page="signupForm" asp-page-handler="SignupForm" asp-route-id="@timeSlot.ID">@timeSlot.DateTime</a>
    }
    else
    {
        <a class="btn btn-secondary btn-block" disabled>@timeSlot.DateTime</a>
    }

}