@page
@model LaytonTempleTours.Pages.Admin.EditModel
@{
    ViewData["Title"] = "Admin";
}

<!-- Masthead-->
<header class="masthead-small">
    <div class="container">
        <div class="masthead-small-heading text-uppercase">Admin</div>
        <div class="masthead-small-subheading">Edit Appointment</div>
    </div>
</header>
<br />
<div class="text-center">
    <h2 class="section-heading text-uppercase">Edit Appointment for @Model.appointment.Time</h2>
    <form class="form-group" method="post" asp-page="edit">
        <table cellpadding="2" cellspacing="2">
            <tr>
                <td><input type="hidden" name="appid" asp-for="appointment.ID" readonly="readonly" /></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input class="form-control" asp-for="appointment.Name" /></td>
            </tr>
            <tr>
                <td>Size</td>
                <td><input class="form-control" asp-for="appointment.Size" /></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input class="form-control" asp-for="appointment.Email" /></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input class="form-control" asp-for="appointment.Phone" /></td>
            </tr>
            <tr>
                <td><input type="hidden" asp-for="appointment.Time" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input class="btn btn-primary" type="submit" value="Save" /></td>
            </tr>
        </table>
    </form>
</div>