@page
@model LaytonTempleTours.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin";
}

<!-- Masthead-->
<header class="masthead-small">
    <div class="container">
        <div class="masthead-small-heading text-uppercase">Admin</div>
        <div class="masthead-small-subheading">View and Edit Appointments Below</div>
    </div>
</header>